#main {
	background: url("../assets/wallpaper.png");
}

hr {
	@apply
		border-2
		mt-2
}

.header-item {
  @apply
    rounded-md
    overflow-auto
		flex-1
		text-center
}

.search-bar {
	@apply
		!bg-[#2f3648a6]
		!border-[3px] !border-[#076095]
    mb-1
    text-gray-100
    rounded-lg
		relative
    focus:ring-blue-500
    block
    w-full
    p-2.5
}

.input-container {
	position: relative;
}

.input-container::after {
	content: '';
	position: absolute;
	right: 0.5em;
	top: -2px;
	width: 4em;
	background-image: url('../assets/icons/search-outline.svg');
	background-size: 2em;
	background-position: center;
	padding-bottom: 4;
	z-index: 1;
	@apply
		h-full
		rounded-md
		bg-transparent
		aspect-square
		bg-no-repeat
}

.header {
	@apply
		font-bold
		text-lg
		bg-sky-500
    h-16
    flex
    flex-row
    items-center
		min-w-[500px]
		w-full
		overflow-auto
		hover:cursor-default
}

.logout-btn {
	@apply
		py-2 px-2
		w-full
		inline-block
		rounded-md
		font-bold
		underline
		text-white
		duration-150
    max-w-[6em]
		hover:bg-[#eb445a]
		hover:border-[#eb445a]
		hover:no-underline
		hover:cursor-pointer
}

.small {
	width: auto;
	padding: 0 0.5em;
	display: none;
}

.logout-img {
	@apply
		w-[2em]
}

.referred {
	color: #22c55e !important;
	font-weight: 600;
}

.data-display {
	@apply
		rounded-2xl
		overflow-auto
}


.invite-code {
	@apply
		ml-auto
		font-semibold
		whitespace-nowrap
}

@media (max-width: 720px) {
	h1 {
		display: none;
	}

	.large, .pic-text {
		display: none;
	}

	.small {
		display: block;
	}

	.invite-code {
		@apply
			ml-auto
			font-semibold
			flex-1
			text-center
	}
	
}

#copied-toast {
  animation: slide-from-right var(--animation-duration) ease 0s 2 alternate;
  @apply
    hidden
    bg-green-700
    text-white
    font-semibold
		text-xs
    absolute
		top-[1em]
    right-[50%]
    w-[7em]
    p-2
		text-center
		z-10
    shadow-md
    rounded-md

}

@keyframes slide-from-right {
  0% { top: -10%; }
  30% { top: 2em; }
  100% { top: 2em; }
}